/*html,body{*/
/*margin:0;*/
/*}*/

.section {
    text-align: center;
}

.section {
    background-size: cover;
}

.slide {
    background-size: cover;
}


.section {
    background-image: url("../image/bg_8.jpg");
}
#section0 {
    background-image: url("../image/bg_1.jpg");
    z-index: 9;
}
#section1{
    z-index: 8;
}
#section2{
    z-index: 7;
}
#section3{
    z-index: 6;

}
#section4{
    z-index: 5;

}
#section5{
    z-index: 4;
}
#section6{
    z-index: 3;
}
#section7{
    z-index: 2;
}

.intro {
    color: #fff;
    font-size: 18px;
}

.arrow_up {
    z-index: 999;
    width: 40px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -30px;
}

.arrowing {
    animation-name: arrowing;
    -webkit-animation-name: arrowing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes arrowing {
    0% {
        transform: translateY(-5px);
        opacity: 0.8;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(-5px);
        opacity: 0.8;
    }
}

@-webkit-keyframes arrowing {
    0% {
        -webkit-transform: translateY(-5px);
        opacity: 0.8;
    }
    50% {
        -webkit-transform: translateY(10px);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateY(-5px);
        opacity: 0.8;
    }
}

body {
    font-family: "Microsoft YaHei", 微软雅黑, "Microsoft JhengHei", 华文细黑, STHeiti, MingLiu, "Helvetica Neue", arial;
}

.intro.picture {
    position: absolute;
}

.pic1 {
    background-image: url("../image/pic1.jpg");
    position: absolute;
    width: 200px;
    height: 320px;
    background-size: 200px 320px;
    left: 50%;
    margin-left: -100px;
    bottom: 0px;
    z-index: 1;
    box-shadow: inset 0px 0px 30px #fff, 0px 0px 10px #fff, 0px 0px 30px #fff, 0px 0px 50px #fff;
}

.pic2 {
    background-image: url("../image/dom2.jpg");
    position: absolute;
    width: 480px;
    height: 320px;
    background-size: 480px 320px;
    left: 50%;
    margin-left: -200px;
    top: 50px;
    z-index: 1;
    box-shadow: inset 0px 0px 30px #fff, 0px 0px 10px #000;
}

.pic3 {
    background-image: url("../image/pic3.jpg");
    position: absolute;
    width: 520px;
    height: 380px;
    background-size: 520px 380px;
    left: -100px;
    bottom: 80px;
    z-index: 1;
    box-shadow: inset 0px 0px 30px #fff, 0px 0px 10px #000;
}

.pic4 {
    background-image: url("../image/pic4.jpg");
    position: absolute;
    width: 400px;
    height: 280px;
    background-size: 400px 280px;
    left: 50%;
    margin-left: -200px;
    bottom: 80px;
    z-index: 1;
    box-shadow: inset 0px 0px 30px #fff, 0px 0px 10px #000;
}


/**
frame 1
*/
.intro1-0 {
    top: 50px;
    left: 30px;
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 10px #fff,
    0px 0px 20px #fff,
    0px 0px 30px #fff,
    0px 0px 40px #fff;

    opacity: 0.9;
    z-index: 10;
}

.intro1-1 {
    top: 78px;
    left: 100px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 10px #fff,
    0px 0px 20px #fff,
    0px 0px 30px #fff,
    0px 0px 40px #fff;
    opacity: 0.9;
    z-index: 10;

}

.intro1-2 {
    top: 130px;
    left: 60px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 10px #fff,
    0px 0px 20px #fff,
    0px 0px 30px #fff,
    0px 0px 40px #fff;
    opacity: 0.9;
    z-index: 10;
}

.intro1-3 {
    top: 200px;
    left: 100px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 10px #fff,
    0px 0px 20px #fff,
    0px 0px 30px #fff,
    0px 0px 40px #fff;
    opacity: 0.9;
    z-index: 10;

}

.intro1-4 {
    top: 250px;
    left: 100px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 10px #fff,
    0px 0px 20px #fff,
    0px 0px 30px #fff,
    0px 0px 40px #fff;
    opacity: 0.9;
    z-index: 10;
}

/**
frame 2
*/
.intro2 {
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    bottom: 200px;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
    opacity: 0.9;
    z-index: 10;
}

.intro2-7 {
    position: absolute;
    font-size: 36px;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    bottom: 150px;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
    opacity: 0.9;
    z-index: 10;
}

.intro3-0 {
    position: absolute;
    font-size: 40px;
    font-weight: 700;
    left: 0;
    right: 0;
    text-align: center;
    margin: auto;
    bottom: 90px;
    color: #fff;
    text-shadow: 3px 3px 10px #000;
    opacity: 0.9;
    z-index: 10;
    opacity: 0;
}

/**
frame 3
*/

.intro4-0, .intro5-0 {
    position: absolute;
    font-weight: 700;
    left: 0;
    right: 0;
    margin: auto;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    z-index: 10;
}

.intro4-0 {
    top: 60px;
    font-size: 45px;
}

.intro5-0 {
    top: 135px;
    font-size: 35px;
    opacity: 0;
}

.masked-1 {
    background: url(../image/paint_mask.png) repeat, white;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-animation-name: masked-animation;
    -webkit-animation-duration: 20s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: left bottom;
    }
    100% {
        background-position: right bottom;
    }
}

/*
frame4 校园
*/
.intro6-0 {
    top: 50px;
    left: 30px;
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 10px #fff,
    0px 0px 20px #fff,
    0px 0px 30px #fff,
    0px 0px 40px #fff;

    opacity: 0.9;
    z-index: 10;
}

.intro7-0, .intro7-1 {
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #000;
    text-shadow: 0px 0px 10px #fff,
    0px 0px 20px #fff,
    0px 0px 30px #fff,
    0px 0px 40px #fff;

    opacity: 0.9;
    z-index: 10;
}

.intro7-0 {
    top: 150px;
    left: 30px;
}

.intro7-1 {
    top: 200px;
    left: 30px;

}

/*
frame5 十年努力
*/
.intro8-0 {
    bottom:190px;
    left: 30px;
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000,
    0px 0px 20px #000,
    0px 0px 30px #000,
    0px 0px 40px #000;

    opacity: 0.9;
    z-index: 10;
}

.intro8-1 {
    bottom:120px;
    left: 30px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    opacity: 0.9;
    z-index: 10;
}

.intro9-0 {
    bottom:60px;
    left: 30px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    opacity: 0.9;
    z-index: 10;
}

.pic5-container {
    position: absolute;
    box-sizing: border-box;
    width: 96%;
    height: 300px;
    left:50%;
    margin-left: -48%;
    border: 8px solid #ffffff;
    top: 20px;
    z-index: 1;
    box-shadow: inset 0px 0px 30px #fff, 3px 3px 10px #000, 3px 3px 30px #000, 3px 3px 60px #000;
    overflow: hidden;
}

.pic5 {
    background-image: url("../image/pic5.jpg");
    position: absolute;
    left: -100px;
    top: -100px;
    width: 640px;
    height: 480px;
    background-size: 640px 480px;
    z-index: 1;
    overflow: hidden;
}

.frame-move1 {
    -webkit-animation-name: f-frame-move1;
    -webkit-animation-duration: 100s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes f-frame-move1 {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-200px) translateY(100px) scale(1.2);
        -moz-transform: translateX(-200px) translateY(100px) scale(1.2);
        -ms-transform: translateX(-200px) translateY(100px) scale(1.2);
        -o-transform: translateX(-200px) translateY(100px) scale(1.2);
        transform: translateX(-200px) translateY(100px) scale(1.2);
    }
}

/**
十年军训
*/
.intro10-0 {
    top: 50px;
    left: 30px;
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000,
    0px 0px 20px #000,
    0px 0px 30px #000,
    0px 0px 40px #000;

    opacity: 0.9;
    z-index: 10;
}

.intro10-1 {
    top: 170px;
    left: 30px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    opacity: 0.9;
    z-index: 10;
}

.intro11-0 {
    top: 220px;
    left: 30px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    opacity: 0.9;
    z-index: 10;
}

.pic6-container {
    position: absolute;
    bottom: 50px;
    width: 96%;
    height: 300px;
    left:50%;
    margin-left: -48%;
    border: 8px solid #ffffff;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: inset 0px 0px 30px #fff, 3px 3px 10px #000, 3px 3px 30px #000, 3px 3px 60px #000;
    overflow: hidden;
}
.pic6 {
    background-image: url("../image/pic6.jpg");
    position: absolute;
    left: -100px;
    top: -100px;
    width: 640px;
    height: 425px;
    background-size: 640px 425px;
    z-index: 1;
    overflow: hidden;
}

.frame-move2 {
    -webkit-animation-name: f-frame-move2;
    -webkit-animation-duration: 100s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes f-frame-move2 {
    0% {
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        -ms-transform: translateX(0);
        -o-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-200px) translateY(60px) scale(1.2);
        -moz-transform: translateX(-200px) translateY(60px) scale(1.2);
        -ms-transform: translateX(-200px) translateY(60px) scale(1.2);
        -o-transform: translateX(-200px) translateY(60px) scale(1.2);
        transform: translateX(-200px) translateY(60px) scale(1.2);
    }
}

/**
十年工作结婚生宝宝

*/
.intro12-0 {
    top: 150px;
    left: 30px;
    position: absolute;
    width:50px;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000,
    0px 0px 20px #000,
    0px 0px 30px #000,
    0px 0px 40px #000;

    opacity: 0.9;
    z-index: 10;
}

.intro12-1 {
    top: 80px;
    left: 50%;
    margin-left:-50px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000,0px 0px 20px #000,0px 0px 30px #000;
    opacity: 0.9;
    z-index: 10;
}

.intro12-2 {
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left:-50px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow:0px 0px 10px #000,0px 0px 20px #000,0px 0px 30px #000;
    opacity: 0.9;
    z-index: 10;
}
.intro12-3 {
    bottom: 80px;
    left: 50%;
    margin-left:-50px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000,0px 0px 20px #000,0px 0px 30px #000;
    opacity: 0.9;
    z-index: 10;
}

.pic7 {
    background-image: url("../image/pic10.jpg");
    position: absolute;
    width: 320px;
    height: 240px;
    background-size: 320px 240px;
    left: 50%;
    margin-left: -160px;
    top: 20px;
    z-index: 2;
    box-shadow: inset 0px 0px 30px #fff, 0px 0px 10px #000;
    -webkit-transform: rotate(8deg);
    -moz-transform: rotate(8deg);
    -ms-transform: rotate(8deg);
    -o-transform: rotate(8deg);
    transform: rotate(8deg);
    opacity: 0;
}
.pic8 {
    background-image: url("../image/pic11.jpg");
    position: absolute;
    width: 320px;
    height: 240px;
    background-size: 320px 240px;
    left: 50%;
    margin-left: -160px;
    top: 50%;
    margin-top: -100px;
    z-index: 5;
    box-shadow: inset 0px 0px 30px #fff, 0px 0px 10px #000;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
    opacity: 0;
}
.pic9 {
    background-image: url("../image/pic11.jpg");
    position: absolute;
    width: 320px;
    height: 240px;
    background-size: 320px 240px;
    left: 50%;
    margin-left: -160px;
    bottom: 20px;
    z-index: 7;
    box-shadow: inset 0px 0px 30px #fff, 0px 0px 10px #000;
    -webkit-transform: rotate(5deg);
    -moz-transform: rotate(5deg);
    -ms-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    transform: rotate(5deg);
    opacity:0;

}


/**
淡了吗
*/
.intro13-0 {
    top: 50px;
    left: 30px;
    position: absolute;
    font-size: 60px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000,
    0px 0px 20px #000,
    0px 0px 30px #000,
    0px 0px 40px #000;

    opacity: 0.9;
    z-index: 10;
}

.intro13-1 {
    top: 170px;
    left: 30px;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
    opacity: 0.9;
    z-index: 10;
}


.pic10-container {
    opacity: 0;
    position: absolute;
    bottom: 50px;
    width: 96%;
    height: 300px;
    left:50%;
    margin-left: -48%;
    border: 8px solid #ffffff;
    box-sizing: border-box;
    z-index: 1;
    box-shadow: inset 0px 0px 30px #fff, 3px 3px 10px #000, 3px 3px 30px #000, 3px 3px 60px #000;
    overflow: hidden;
}
.pic10 {
    background-image: url("../image/pic7.jpg");
    position: absolute;
    left: -100px;
    top: -100px;
    width: 640px;
    height: 425px;
    background-size: 640px 425px;
    z-index: 1;
    overflow: hidden;
}
/*
欢迎
*/
.pic11{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 10px;
}

.intro14 span.inner {
    left: 0;
    right:0;
    margin:auto;
    position: absolute;
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-shadow: 0px 0px 10px #000,
    0px 0px 20px #000,
    0px 0px 30px #000,
    0px 0px 40px #000;
    opacity: 0.9;
    z-index: 10;
}
.intro14 span.intro14-0.inner{
    top: 70px;

}
.intro14 span.intro14-1.inner{
    top: 120px;
}
.intro14 span.intro14-2.inner{
    top:170px;
}
.intro14 span.intro14-2 .char3,.intro14 span.intro14-2 .char4{
    font-size: 60px;
    /*top:220px;*/
    /*left:120px;*/
}
.intro14 span.intro14-4.inner{
    top: 270px;
    font-size: 30px;
}
.line1{
    position: absolute;
    top: 310px;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 4px;
    background-color: #fff;
    text-shadow: 0px 0px 10px #000,
    0px 0px 20px #000,
    0px 0px 30px #000,
    0px 0px 40px #000;
    opacity: 0;
}
.pic11{
    background-image: url("../image/pic13.jpg");
    position: absolute;
    width: 50px;
    height: 50px;
    left:50%;
    margin-left: -25px;
    top: 10px;
}

.pic12 {
    background-image: url("../image/pic12.jpg");
    position: absolute;
    width: 320px;
    height: 240px;
    background-size: 320px 240px;
    left: 50%;
    margin-left: -160px;
    bottom: 40px;
    z-index: 5;
    box-shadow: inset 0px 0px 30px #fff, 0px 0px 10px #000;
    opacity:0;

}
/*.arrowing {
    animation-name: arrowing;
    -webkit-animation-name: arrowing;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes arrowing {
    0% {
        transform: translateY(-5px);
        opacity: 0.8;
    }
    50% {
        transform: translateY(10px);
        opacity: 1;
    }
    100% {
        transform: translateY(-5px);
        opacity: 0.8;
    }
}
*/